* {          /*RESETA TODO A ESTRUTURA DA PAGIAN WEB*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


    
.btn {                    /*RESPONSAVEL PELO BOTÃO EM BAIXO DO TEXTO SOBRE MIM*/
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: black;
    color: white;
    border-radius: 5px;
    transition: background 500ms ease;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn:hover {               /*RESPONSAVEL PELO BOTÃO EM BAIXO DO TEXTO SOBRE MIM*/
    cursor: pointer;
    background: silver;
}
.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}
                       /*RESPONSAVEL PELO NAVBAR*/
#navbar {
    width: 100%;
    background: black;
    color: white;
    height: 80px;
    position: fixed;
}
                        /*RESPONSAVEL PELO CONTEÚDO DO  NAVBAR*/
#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-items {             /*RESPONSAVEL PELO NAVBAR*/
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {             /*RESPONSAVEL PELO NAVBAR*/
    padding: 15px;
}
                     /*SHOWCASE PRIMEIRA PARTE DO SITE*/
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(../img/castle-4261029.jpg) no-repeat center center/cover;

    background-color: rgb(0,0,0,0.5);
    background-blend-mode: color;
}

.showcase-container {                /*SHOWCASE PRIMEIRA PARTE DO SITE*/
    text-align: center;
}

 h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    padding-bottom: 7px 0;
}

#projetos {                /*SECTION SEGUNDA PARTE DO SITE*/
    width: 100%;
    background: #eee;
    color: black;
    padding: 50px;
}
.projetos-container {           /* RESPONSAVEL PELO CONTEUDO DO SECTION SEGUNDA PARTE DO SITE*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center ;
    padding: 15px;
}

.obras {                 /* RESPONSAVEL PELAS IMAGENS DO SECTION SEGUNDA PARTE DO SITE*/
    display: inline-block;
    width: 60%;
}

#features {                            /* RESPONSAVEL PELO CONTEUDO DO SECTION TERCEIRA PARTE DO SITE*/
    width: 100%;
    background: rgb(133, 133, 64);
    color: red;
    padding: 10px;
}
#features-container {                       /* RESPONSAVEL PELO CONTEUDO DO SECTION TERCEIRA PARTE DO SITE*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center ;
    padding: 60px;
}
.linguagens {                            /* RESPONSAVEL PELAS IMAGENS DO SECTION TERCEIRA PARTE DO SITE*/
    width: 80%;
}
    /*
.skills-wrapper {
    display: flex;
    background-color: cyan;
}
.skill {
    width: 200px;
    height: 200px;
    box-shadow:  5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: relative;
    display: grid;
    place-items: center;
}
.skill:not(:last-child) {margin-right: 3rem;}

.skill ::before{
    content:"";
    position: absolute;
    width: 80%; 
    height:80%;
    border-radius: 50%;
    background-color: #131313;
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.3), inset  -5px -5px 20px;

}*/

 






