@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
:root {
  font-size: 16px;
  --royal-blue-light: #404eed;
  --royal-blue-dark: #3946d4;
  --white: #fff;
  --backgroud: #e2e3e9;
}
a {
  color: var(--white);
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--royal-blue-light);
  height: 4.6875rem;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.menu a {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
}

.menu a:hover {
  background: var(--royal-blue-dark);
}

.btn-menu {
  display: none;
}

.showcase-container{
  width: 100vw;
  height: 100vh;
  background-color: rgb(1, 31, 31);
}
.apresentacao{
  margin-left: 33px;
  padding-top: 150px;
  width: 60%;
}
.texto-apresentacao h1{
  color: white;
  font-size: 30px;
}
.texto-apresentacao h3{
  color: white;
  padding: 3px;
}
.texto-apresentacao h2{
  color: white;
  margin: 10px 1px 10px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
}
.texto-apresentacao h2 span{
  color: chartreuse;
}
.texto-apresentacao p{
  color: paleturquoise;
  margin: 5px;
}
.redes-sociais a{
  margin: 10px;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  margin-right: 40px;
  margin-bottom: 20px;
}
.redes-sociais a:hover{
  transform: scale(3.3);
  background-color: black;
  transition: .4s;
}
.minha-foto{
  width: 80%;
  height: 80%;
  margin-left: 150px;
}
.minha-foto img{
  display: flex;
  justify-content: center;
  width: 35%;
  height: 30%;
  border-radius: 50%;
  float: right;
  margin-top: 50px;
}
@media (max-width: 780px) {
  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background: var(--royal-blue-light);
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }
  .btn-menu {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    padding: 1rem 0;
    cursor: pointer;
  }
  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }
  .nav.active .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }
  .nav.active .hamburger {
    border-top-color: transparent;
  }
  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
}
@media (max-width: 780px){
  .tela-inicio{
    display: grid;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  .minha-foto{
    margin-top: 50px;
    width: 50%;
    height: 50%;
  }
  .minha-foto img{
    width: 100%;
    height: 100%;
  }
  .apresentacao{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .texto-apresentacao h3{
    font-size: 4vw;
  }
  .texto-apresentacao h1{
      font-size: 6vw;
  }
  .texto-apresentacao h2{
    font-size: 3.8vw;
  }
}
