@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
*{
  margin: 0;
  padding: 0;
  /*outline: 3px dotted red;*/
}
/*ESSE CODIGO CORRESPONDE AO MENU*/
:root {
  font-size: 12px;
  --white: #fff;
}
html{
  scroll-behavior: smooth;
}

a {
  color: var(--white);
  text-decoration: none;
}

.header {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(9, 9, 10);
  height: 4.6875rem;
  width: 98%;
  padding: 1rem;
  position: fixed;
  z-index: 999;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.menu a {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
}

.menu a:hover {
  background: chartreuse;
  color: black;
}

.btn-menu {
  display: none;
}
/*ESSE CODIGO CORRESPONDE A PRIMEIRA SESSÃO DO SITE*/
.showcase-container{
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background-color: rgb(3, 17, 17);
}
.minhafoto-content{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  float: right;
  width: 45%;
  
}
.minhafoto-content img{
  border-radius: 50%;
  width: 50%;
  height: 100%;
}
.txt-apresentacao-content{
  width: 50%;
}
.txt-apresentacao-content h3{
  color: white;
  font-weight: 600;
  font-size: 1.2vw;
}
.txt-apresentacao-content h1{
  color: white;
  font-weight: 600;
  font-size: 3.8vw;
}
.txt-apresentacao-content h2{
  color: white;
  font-weight: 600;
  font-size: 1.8vw;
}
.txt-apresentacao-content h2 span{
  color: chartreuse;
}
.redes-sociais a{
  margin: 10px;
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 32px;
}
.redes-sociais a:hover{
  transform: scale(3.3);
  background-color: chartreuse;
  transition: .4s;
}
.sobre-mim{
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.shadowBtn{
  width: 20%;
  height: 60px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  position: relative;
}
.shadowBtn:hover{
  background-color: white;
  color: black;
  transition: 1s ease;
  
}
.shadowBtn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  background:transparent;
  height: 50%;
  width: 100%;
  transform: perspective(1em)
  rotateX(40deg) scale(1, 0.35);
  filter: blur(8px);
  transition: 1s ease;
  
}
.shadowBtn:hover::before{
  display: none;
  background: white;
  top: 70px;
}
.about-me-content{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 90%;
  height: 52%;
}

.img-triangulo{
  width: 40%;
}
.img-triangulo img{
  width: 95%;
  height: 100%;
}

.div-txt{
  display: flex;
  width: 40%;
}
.div-txt p{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
}
.projetos{
  height: 100vh;
  width: 100%;
  background-color: #07070c;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.shadowBtn-projetos{
  width: 20%;
  height: 60px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  margin-top: 50px;
}
.shadowBtn-projetos:hover{
  background-color: white;
  color: black;
  transition: 1s ease;
  
}
.shadowBtn-projetos::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  background:transparent;
  height: 50%;
  width: 100%;
  transform: perspective(1em)
  rotateX(40deg) scale(1, 0.35);
  filter: blur(8px);
  transition: 1s ease;
  
}
.shadowBtn-projetos::before{
  display: none;
  background: white;
  top: 70px;
}
.card-container{
  width: 90%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.card-container .card{
  position: relative;
  width: 20%;
  height: 80%;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0,0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}
.card-container .card .card-content{
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.8s;
}
.card-container .card:hover .card-content{
  transform: translateY(0px);
  opacity: 1;
}
.card-container .card .card-content h2{
  position: absolute;
  top:-80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.card-container .card .card-content h3{
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.card-container .card .card-content p {
  font-size: 1vh;
  font-size: 1.2vw;
  color: #fff;
  font-weight: 300;
  margin-top: 30px;
  font-family: 'Cairo', sans-serif;
}

/*ESSE CODIGO CORRESPONDE A RESPONSIVIDADE DO MENU*/
@media (max-width: 800px) {
  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background: #11101b;
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 2;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
   
  }
  .btn-menu {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    padding: 1rem 0;
    cursor: pointer;
   
  }
  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
    
  }
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
   
  }
  .nav.active .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;

  }
  .nav.active .hamburger {
    border-top-color: transparent;
   
  }
  .nav.active .hamburger::before {
    transform: rotate(135deg);
   
  }
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
    
  }
}
/*ESSE CODIGO CORRESPONDE A RESPONSIVIDADE DA PRIMEIRA SESSÃO DO SITE*/
@media (max-width: 800px){
  .showcase-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .minhafoto-content img{
    width: 90%;
  }
  .txt-apresentacao-content{
    width: 80%;
    height: 20%;
  }
  .txt-apresentacao-content h3{
    color: white;
    font-weight: 400;
    font-size: 2.2vh;
    font-size: 4vw;
  }
  .txt-apresentacao-content h1{
    color: white;
    font-weight: 600;
    font-size: 5vh;
    font-size: 6vw;
  }
  .txt-apresentacao-content h2{
    color: white;
    font-weight: 500;
    font-size: 2.5vh;
    font-size: 4.4vw;
  }
  .txt-apresentacao-content h2 span{
    color: chartreuse;
  }
  .sobre-mim{
    display: flex;
    height: 100vh;
  }
  .div-txt{
    width: 50%;
  }
  .div-txt p{
    font-size:3vw;
  }
}